<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="img/style.css" />
<title>NEM Wallet v<%= version %></title>
</head>
<body ng-app="app">
    <div ui-view></div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/boot.js"></script>
</body>
</html>