<div class="container pad-top">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">About</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Version: {{ global.pkg.version }}
            </li>
            <li class="list-group-item">
                License: {{ global.pkg.license }}
            </li>
            <li class="list-group-item">
                Source: <a href="{{ global.pkg.repository.url }}" target="_blank">{{ global.pkg.repository.url }}</a>
            </li>
            <li class="list-group-item">
                Report Issues: <a href="{{ global.pkg.bugs.url }}" target="_blank">{{ global.pkg.bugs.url }}</a>
            </li>
            <li class="list-group-item">
                Latest Java Version: {{ about.java.latest }}
            </li>
            <li class="list-group-item">
                Java Version: {{ about.java.version.full }}
            </li>
            <li class="list-group-item">
                Local NEM Version: {{ about.versions.nis }}
            </li>
            <li class="list-group-item">
                Latest NEM Version: <a href="http://bob.nem.ninja" target="_blank">{{ global.NEM.version }}</a>
            </li>
        </ul>
    </div>
</div>