<div class="container pad-top">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Market NEMStake/{{ market.current == 'btc' ? 'BTC' : 'USD' }} - Last {{ market.last[market.current] }}</div>
        </div>
        <div class="panel-body">
            <div class="chart clearfix">
                <div ng-class="{'invisible': market.current=='btc'}" class="chart-wrap">
                    <canvas tc-chartjs chart-type="line" chart-data="market.usd" chart-options="market.config"></canvas>
                </div>
                <div ng-class="{'invisible': market.current=='usd'}" class="chart-wrap">
                    <canvas tc-chartjs chart-type="line" chart-data="market.btc" chart-options="market.config"></canvas>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row clearfix">
                <div class="col-xs-10">
                    <a class="btn btn-primary" ng-class="{ 'active': market.current=='usd'}" ng-click="market.current='usd'">USD</a>
                    <a class="btn btn-primary" ng-class="{ 'active': market.current=='btc'}" ng-click="market.current='btc'">BTC</a>
                </div>
                <div class="col-xs-2">
                    <a class="pull-right" target="_blank" href="http://coinmarketcap.com/assets/nemstake/#charts">by Coinmarketcap.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
