<div class="container pad-top">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">News</div>
        </div>

        <div class="panel-body" ng-if="news.loading">
            <loading></loading>
        </div>

        <ul class="media-list list-group" ng-hide="news.loading">
            <li class="list-group-item" ng-repeat="(title, item) in news.news">
                <div class="media-body">
                    <div class="media-heading">
                        <h4><a target="_blank" href="{{item.url}}">{{item.title}}</a></h4>
                        <time>{{item.date | date:'short'}}</time>
                    </div>
                    <div class="news-listing"></div>
                </div>
            </li>
        </ul>

        <div class="panel-footer">
            <button ng-click="news.load()"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
</div>